@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/resets" as *;

.hero {
  padding: 7rem 1rem 1rem 1rem;
  // box-shadow: inset 0px -5px 11px 5px #d1d4d1;

  @include tablet {
    padding: 12rem 8rem 2rem 8rem;
  }

  &__top {
    @include tablet {
      display: flex;
      flex-direction: row-reverse;
    }
  }
  &__img {
    display: flex;
    justify-content: flex-end;
  }

  &__picture-container {
    width: 60%;
  }
  &__pic {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }

  &__text-container {
    width: 50%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__blurb {
    color: $primary-colour;
    width: 100%;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include tablet {
      width: 50%;
    }
  }

  &__contact {
    display: none;
    @include tablet {
      color: $primary-colour;
      display: flex;
    }
  }

  &__text {
    font-size: 0.8rem;
    line-height: 1rem;
    margin: 0;
    color: $primary-colour;
  }

  &__title {
    height: 17rem;
    font-size: 3.2rem;
    font-weight: 400;
    margin: 0;
    color: $primary-colour;

    padding-bottom: 1rem;
  }
}
