@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/resets" as *;

.hero {
  padding: 7rem 1rem 0 1rem;

  @include tablet {
    padding: 12rem 8rem 0 8rem;
  }

  &__top {
    @include tablet {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__picture-container {
    width: 11rem;
    height: 10rem;
    margin-left: auto;
    @include tablet {
      width: 16rem;
      height: 10rem;
      margin-left: auto;
    }
  }
  &__pic {
    width: 100%;
    border-radius: 48%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }

  &__text-container {
    width: 50%;
  }

  &__text {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  &__title {
    height: 17rem;
    font-size: 3.2rem;
    font-weight: 400;
    margin: 0;

    padding-bottom: 1rem;
  }
}
