@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/resets" as *;

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: aqua;
  padding: 1.875rem 3.125rem;
}

.nav-bar {
  width: 100%;
}

.DesktopNavigation {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
  }
}

.mobile-nav {
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: white;
  margin: 2rem 1rem;
  position: fixed;
  z-index: 110;
  width: 90%;

  @include tablet {
    display: none;
  }

  &__logo {
    font-size: 1.5rem;
    margin: 0;
    font-style: italic;
  }

  &__menu {
    height: 1.5rem;
    width: 2rem;
    color: black;
  }
  &__menu-close {
    height: 1.5rem;
    width: 2rem;
    color: black;
  }
}

.NavLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  border-top: 2px solid #868b8e;
  top: 2rem;
  right: 0;
  height: 24vh;
  width: 9rem;
  align-items: baseline;
  background-color: white;

  @include tablet {
    top: 0;
    border-top: 0;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    align-items: baseline;
    background-color: none;
  }

  &__link {
    text-decoration: none;
    font-weight: bold;
    color: black;
  }

  &__link:hover {
    color: $primary-coulour-alternate;
    transition: 0.3s;
  }
}

// .HamburgerMenu {
//   position: absolute;
//   right: 2%;
//   cursor: pointer;
// }
